* {
  margin: 0;
  padding: 0;
}
.icon-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 90px;
  gap: 5px;
}
.container-list {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: gray;
  justify-content: space-between;
}
.icon-principal {
  width: 45px;
}
.name-icon {
  color: white;
  text-align: center;
  font-size: 13px;
}
