
.container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  max-width: 1120px;
  margin: 0 auto;
}

.icons-principal {
  display: flex;
  align-items: center;
  height: 150px;
  margin-top: -5px;
  justify-content: center;
}
